<!doctype html>
<html ng-app="ContactsList">
<head>
    <script src="angular.js"></script>
    <script src="angular-sanitize.js"></script>

    <script src="select.js"></script>
    <link rel="stylesheet" href="select.css">

    <script src="moment.min.js" charset="utf-8"></script>
    <script src="moment-timezone-with-data.min.js" charset="utf-8"></script>

    <script src="list.js"></script>
    <link rel="stylesheet" href="list.css">

    <link rel="stylesheet" href="bootstrap.css">   
    <link rel="stylesheet" href="selectize.default.css">

</head>
<body>
    <div style="width:1200px; margin:0 auto">
        <h2 class="h2">Contacts list</h2>
        <div class="panel" ng-controller="ListCtrl">
            <h4 class="h4">You have {{contacts.length-1}} contacts</h4>
            <table class="table">
                <tbody>
                    <tr ng-repeat="contact in contacts">
                        <td><span ng-if="!$first">{{$index}}</span></td>
                        <td><span>{{contact.name}}</span></td>
                        <td><span>{{contact.location}}</span></td>
                        <td><span>{{addHours(contact.timeZone)}}{{clock(contact.location)}}{{time}}</span></td>
                        <td ng-repeat="hour in hours" ng-class="(hour>8 && hour<19)?'true':'false'"><span>{{hour}}</span></td>
                        <td><button  class="btn-primary" ng-if="!$first" ng-click="removeContact($index)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
            <form class="row" name="addNewContact"  novalidate ng-submit="addContact()">
                <div class="col-xs-5">
                    <input autocomplete="off" name="nameContact" class="form-control" type="text" ng-model="contactName"
                       required placeholder="Enter Name" style="width:100%">
                </div>
                <div class="col-xs-5">
                    <ui-select ng-model="contactLocation.selected"  theme="bootstrap" ng-required="contactLocation.selected != false">
                        <ui-select-match placeholder="Enter Location">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="timeZoneName in timeZoneNames | filter: $select.search">
                            <span ng-bind-html="timeZoneName.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-xs-2">
                    <input class="btn btn-primary" ng-disabled="addNewContact.$invalid" type="submit" value="ADD">
                </div>
            </form>
        </div>
    </div>
</body>
</html>
